src/Service/MoreInfoService/Schemas/DDB/moreinfo.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:mi="https://cover.dandigbib.org/ns/moreinfo" targetNamespace="https://cover.dandigbib.org/ns/moreinfo" elementFormDefault="qualified" attributeFormDefault="unqualified">
		<xs:element name="moreInfoRequest">
				<xs:annotation>
						<xs:documentation>format of the xml document sent by the requester</xs:documentation>
				</xs:annotation>
				<xs:complexType>
						<xs:sequence>
								<xs:element name="authentication" type="mi:AuthenticationType">
										<xs:annotation>
												<xs:documentation>authentication information</xs:documentation>
										</xs:annotation>
								</xs:element>
								<xs:element ref="mi:identifier" maxOccurs="100"/>
								<xs:element ref="mi:outputType" minOccurs="0"/>
								<xs:element ref="mi:callback" minOccurs="0"/>
								<xs:element ref="mi:trackingId" minOccurs="0"/>
						</xs:sequence>
				</xs:complexType>
		</xs:element>
		<xs:element name="moreInfoResponse">
				<xs:annotation>
						<xs:documentation>format of the xml document returned to the requester</xs:documentation>
				</xs:annotation>
				<xs:complexType>
						<xs:sequence>
								<xs:element name="requestStatus" type="mi:RequestStatusType">
										<xs:annotation>
												<xs:documentation>status for the request</xs:documentation>
										</xs:annotation>
								</xs:element>
								<xs:element name="identifierInformation" type="mi:IdentifierInformationType" minOccurs="0" maxOccurs="100"/>
						</xs:sequence>
				</xs:complexType>
		</xs:element>
		<xs:element name="identifier" type="mi:IdentifierType">
				<xs:annotation>
						<xs:documentation>identifier for the material for which additional information is requested</xs:documentation>
				</xs:annotation>
		</xs:element>
		<xs:complexType name="IdentifierInformationType">
				<xs:annotation>
						<xs:documentation>container for additional information to a given identifier</xs:documentation>
				</xs:annotation>
				<xs:sequence>
						<xs:element name="identifierKnown" type="xs:boolean" minOccurs="1" maxOccurs="1">
								<xs:annotation>
										<xs:documentation>true if identifier known; does not guarantee any additional data for this identifier</xs:documentation>
								</xs:annotation>
						</xs:element>
						<xs:element ref="mi:identifier"/>
						<xs:sequence minOccurs="0" maxOccurs="unbounded">
								<xs:choice>
										<xs:element name="coverImage" type="mi:ImageType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="coverText" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="colophon" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="titlePage" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="tableOfContents" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="backPage" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="backImage" type="mi:ImageType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="netArchive" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
										<xs:element name="externUrl" type="mi:FormatType" minOccurs="0" maxOccurs="unbounded"/>
								</xs:choice>
						</xs:sequence>
				</xs:sequence>
		</xs:complexType>
		<xs:element name="callback" type="xs:string">
				<xs:annotation>
						<xs:documentation xml:lang="en">If outputType=json.</xs:documentation>
				</xs:annotation>
		</xs:element>
		<xs:element name="outputType" type="mi:outputTypeType">
				<xs:annotation>
						<xs:documentation xml:lang="en">E.g. xml, json or php.</xs:documentation>
				</xs:annotation>
		</xs:element>
		<xs:element name="trackingId" type="xs:string">
				<xs:annotation>
						<xs:documentation xml:lang="en">Unique id to track this request</xs:documentation>
				</xs:annotation>
		</xs:element>
		<xs:simpleType name="outputTypeType">
				<xs:annotation>
						<xs:documentation xml:lang="en">The types of output that can be returned by the service.</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:enumeration value="xml"/>
						<xs:enumeration value="json"/>
						<xs:enumeration value="php"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="RequestStatusType">
				<xs:sequence>
						<xs:element name="statusEnum">
								<xs:annotation>
										<xs:documentation>list of status messages</xs:documentation>
								</xs:annotation>
								<xs:simpleType>
										<xs:restriction base="xs:string">
												<xs:enumeration value="ok"/>
												<xs:enumeration value="service_unavailable"/>
												<xs:enumeration value="error_in_request"/>
												<xs:enumeration value="authentication_error"/>
										</xs:restriction>
								</xs:simpleType>
						</xs:element>
						<xs:element name="errorText" type="xs:string" minOccurs="0" maxOccurs="1">
								<xs:annotation>
										<xs:documentation>optional text specifying an error</xs:documentation>
								</xs:annotation>
						</xs:element>
				</xs:sequence>
		</xs:complexType>
		<xs:complexType name="ImageType">
				<xs:annotation>
						<xs:documentation>size and format of the cover image</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
						<xs:extension base="xs:anyURI">
								<xs:attribute name="imageSize">
										<xs:simpleType>
												<xs:restriction base="xs:string">
														<xs:enumeration value="thumbnail"/>
														<xs:enumeration value="detail"/>
														<xs:enumeration value="detail_48"/>
														<xs:enumeration value="detail_128"/>
														<xs:enumeration value="detail_256"/>
														<xs:enumeration value="detail_42"/>
														<xs:enumeration value="detail_117"/>
														<xs:enumeration value="detail_207"/>
														<xs:enumeration value="detail_500"/>
												</xs:restriction>
										</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="imageFormat">
										<xs:simpleType>
												<xs:restriction base="xs:string">
														<xs:enumeration value="jpeg"/>
														<xs:enumeration value="gif"/>
														<xs:enumeration value="pdf"/>
												</xs:restriction>
										</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="source" type="xs:string">
										<xs:annotation>
												<xs:documentation xml:lang="en">Identification of record to attach the information</xs:documentation>
										</xs:annotation>
								</xs:attribute>
						</xs:extension>
				</xs:simpleContent>
		</xs:complexType>
		<xs:complexType name="FormatType">
				<xs:annotation>
						<xs:documentation>data format</xs:documentation>
				</xs:annotation>
				<xs:simpleContent>
						<xs:extension base="xs:anyURI">
								<xs:attribute name="informationFormat">
										<xs:annotation>
												<xs:documentation>format used to hold the information</xs:documentation>
										</xs:annotation>
										<xs:simpleType>
												<xs:restriction base="xs:string">
														<xs:enumeration value="xml"/>
														<xs:enumeration value="html"/>
														<xs:enumeration value="pdf"/>
														<xs:enumeration value="epub"/>
												</xs:restriction>
										</xs:simpleType>
								</xs:attribute>
								<xs:attribute name="source" type="xs:string">
										<xs:annotation>
												<xs:documentation xml:lang="en">Identification of record to attach the information</xs:documentation>
										</xs:annotation>
								</xs:attribute>
						</xs:extension>
				</xs:simpleContent>
		</xs:complexType>
		<xs:complexType name="AuthenticationType">
				<xs:annotation>
						<xs:documentation>structure of authentication information</xs:documentation>
				</xs:annotation>
				<xs:sequence>
						<xs:element name="authenticationUser" type="mi:AuthenticationUserType"/>
						<xs:element name="authenticationGroup" type="mi:AuthenticationGroupType"/>
						<xs:element name="authenticationPassword" type="mi:AuthenticationPasswordType"/>
				</xs:sequence>
		</xs:complexType>
		<xs:simpleType name="AuthenticationUserType">
				<xs:annotation>
						<xs:documentation/>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="AuthenticationGroupType">
				<xs:annotation>
						<xs:documentation/>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="AuthenticationPasswordType">
				<xs:annotation>
						<xs:documentation/>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:maxLength value="100"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:complexType name="IdentifierType">
				<xs:annotation>
						<xs:documentation>identifier for the material for which additional information is requested</xs:documentation>
				</xs:annotation>
				<xs:choice>
						<xs:element name="faust" type="mi:FaustType"/>
						<xs:element name="isbn" type="mi:IsbnType"/>
						<xs:element name="pid" type="mi:PidType"/>
						<xs:element name="pidList" type="mi:PidListType"/>
						<xs:sequence>
								<xs:element name="localIdentifier" type="mi:LocalIdentifierType"/>
								<xs:element name="libraryCode" type="mi:LibraryCodeType"/>
						</xs:sequence>
				</xs:choice>
		</xs:complexType>
		<xs:simpleType name="FaustType">
				<xs:annotation>
						<xs:documentation>unique identifier for nationalbibliographic records and shared records for public libraries</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="IsbnType">
				<xs:annotation>
						<xs:documentation>ISBN-10 or ISBN-13</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:pattern value="[0-9]{9}[0-9xX]|97[89][0-9]{10}"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="PidType">
				<xs:annotation>
						<xs:documentation>Permanent identifier on the form: CollectionIdentifier:identifier</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:maxLength value="60"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="PidListType">
				<xs:annotation>
						<xs:documentation>Permanent identifier(s) on the form: CollectionIdentifier:identifier separated by |</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="LocalIdentifierType">
				<xs:annotation>
						<xs:documentation>record identifier which is unique for a given library code</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:maxLength value="30"/>
				</xs:restriction>
		</xs:simpleType>
		<xs:simpleType name="LibraryCodeType">
				<xs:annotation>
						<xs:documentation>ISIL code for Danish Library</xs:documentation>
				</xs:annotation>
				<xs:restriction base="xs:string">
						<xs:pattern value="[A-Z0-9-]{9}|[0-9]{6}"/>
				</xs:restriction>
		</xs:simpleType>
</xs:schema>
